<app-rule [rule]="rule"></app-rule>

<!-- <input type="file" (onchange)="readFiles(event)" > -->

<p>More research being done into how this can be properly implemented</p>


<ul ngbNav #nav="ngbNav" [(activeId)]="activeIdString" class="nav-tabs">
  <li [ngbNavItem]="'tab1'">
    <a ngbNavLink>Sinks</a>
    <ng-template ngbNavContent>
      <pre>
{{ rule.sinks }}
      </pre>
    </ng-template>
  </li>

  <li [ngbNavItem]="'tab2'">
    <a ngbNavLink>URL Sources</a>
    <ng-template ngbNavContent>
      <div class="sink">
        <button (click)="loadHash()">Click here to load URL param 'webMessage' and send as a web message.</button>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="'tab3'">
    <a ngbNavLink>Window/Document Sources</a>
    <ng-template ngbNavContent>
      <div class="sink">
        <h5>Text Input:</h5>
        <form (submit)="loadInput(dangerousCookieInput.value)">
          <input type="text" #dangerousCookieInput>
          <input type="submit" value="Submit">
        </form>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="'tab4'">
      <a ngbNavLink>Communication Sources</a>
      <ng-template ngbNavContent>
      <div class="sink">
        <button (click)="checkForCookie()">Click here to load cookie named 'webMessage' and send to the page as a web message.</button>
      </div>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>


