<footer class="footer">
  <app-teach-bar></app-teach-bar>
  <app-brands-bar></app-brands-bar>
  <div class='footer-links'>
    <div class='links-left'>
      <div class='main-links'>
        <a href='#'>Udemy for Business</a>
        <a href='#'>Teach on Udemy</a>
        <a href='#'>Get the app</a>
        <a href='#'>About Us</a>
        <a href='#'>Contact us</a>
      </div>
      <div class='support-links'>
        <a href='#'>Careers</a>
        <a href='#'>Blog</a>
        <a href='#'>Help and Support</a>
        <a href='#'>Affiliate</a>
      </div>
      <div class='terms-links'>
        <a href='#'>Terms</a>
        <a href='#'>Privacy Policy</a>
        <a href='#'>Sitemap</a>
        <a href='#'>Featured Courses</a>
      </div>
    </div>
    <div class='links-right'>
      <a href='#' class='language-link'>
        <i class='fas fa-globe'></i> English
      </a>
    </div>
  </div>

  <div class='copy-right'>
    <img src="assets/img/udemy-2-logo.png" alt='Logo' class='logo' />
    <p>&copy; {{ currentYear }} Udemy, Inc.</p>
  </div>
</footer>
