let localStorage = "Referrer: <b>" + window.localStorage.getItem() + "</b>";
document.getElementById("output").innerHTML = localStorage;

or

let sessionStorage = "Referrer: <b>" + window.sessionStorage.getItem() + "</b>";
document.getElementById("output").innerHTML = sessionStorage;
