<app-rule [rule]="rule"></app-rule>

<p>* Note: Many current browsers have built in protections against this vulnerablity, so when using the below examples they may not work or result in an error in the console. *</p>

<ul ngbNav #nav="ngbNav" [(activeId)]="activeIdString" class="nav-tabs">
  <li [ngbNavItem]="'tab1'">
    <a ngbNavLink>Sinks</a>
    <ng-template ngbNavContent>
      <pre>
{{ rule.sinks }}
      </pre>
    </ng-template>
  </li>

  <li [ngbNavItem]="'tab2'">
    <a ngbNavLink>URL Sources</a>
    <ng-template ngbNavContent>
      <div class="sink">
        <button (click)="loadHash()">Click here to load the URL hash into the document domain.</button>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="'tab3'">
    <a ngbNavLink>Window/Document Sources</a>
    <ng-template ngbNavContent>
      <div class="sink">
        <h5>Text Input:</h5>
        <form (submit)="loadInput(dangerousCookieInput.value)">
          <input type="text" #dangerousCookieInput>
          <input type="submit" value="Submit">
        </form>
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="'tab4'">
      <a ngbNavLink>Communication Sources</a>
      <ng-template ngbNavContent>
        <div class="sink">
          <button (click)="checkForCookie()">Click here to load cookie named 'redirect' into the document domain.</button>
        </div>
      </ng-template>
    </li>

</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
