<div class="brands-bar">
  <div class="content-bar">
    <div class='left-content'>
      <h4>
        Top companies choose <a href='#'>Udemy for Business </a>
        to build in-demand career skills.
      </h4>
    </div>
    <div class='right-content'>
      <img src="assets/img/lyft-logo.svg" alt='Lyft' class='brands-img' />
      <img src="assets/img/adidas-logo.svg" alt='Adidas' class='brands-img' />
      <img src="assets/img/eventbrite-logo.svg" alt='Event Brite' class='brands-img' />
      <img
        src="assets/img/surveymonkey-logo.svg"
        alt='Survey Monkey'
        class='brands-img'
      />
      <img src="assets/img/booking-logo.svg" alt='Booking.com' class='brands-img' />
    </div>
  </div>
</div>
