<main>
  <app-hero></app-hero>
  <app-current-learning *ngIf="user" [user]="user"></app-current-learning>
  <app-business-bar></app-business-bar>
  <app-learning-next></app-learning-next>
  <app-cookie-manipulation></app-cookie-manipulation>
  <app-document-domain-manipulation></app-document-domain-manipulation>
  <app-dom-xss></app-dom-xss>
  <app-html-storage-manipulation></app-html-storage-manipulation>
  <app-javascript-injection></app-javascript-injection>
  <app-json-injection></app-json-injection>
  <app-link-manipulation></app-link-manipulation>
  <app-local-filepath-manipulation></app-local-filepath-manipulation>
  <app-open-redirection></app-open-redirection>
  <app-request-header-manipulation></app-request-header-manipulation>
  <app-web-message-manipulation></app-web-message-manipulation>
  <app-websocket-url-poisoning></app-websocket-url-poisoning>
  <app-xpath-injection></app-xpath-injection>
  <app-enrolled-suggestions></app-enrolled-suggestions>
  <app-wishlist-courses></app-wishlist-courses>
  <app-students-viewing></app-students-viewing>
  <app-top-courses></app-top-courses>
  <app-featured-courses></app-featured-courses>
</main>
